/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/*couleur bleu Icone + bouton "rechercher"*/
.fa-solid {
    color: var(--main-color);
}

/*centrage horizontal de l'ensemble*/
body {
    display: flex;
    justify-content: center;
}

/**parmetres affichage de toute la page**/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.link {
    text-decoration: none;
    color: black;
}

/*affichage header*/
nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    width: 7%;
    height: 19px;
    margin-left: -10px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.position-liens {
    width: 30%;
    display: flex;
    align-items: start;
}

h4 {
    font-weight: 700;
    font-size: 18px;
}

nav a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 42.61px;
    margin-top: -7px;
    color: black;
    padding-top: 16px;
}

header nav a:hover {
    border-top: 2px solid  #0065FC;
    color: #0065FC;
}

/*affichage titre de l'intro*/
.intro {
    margin-top: 60px;
    margin-bottom: 8px;
}

/*margin et taille polices intitué entéte  "Les plus populaires" */
.section-title {
    margin: 0;
    font-size: 22px;
}

.padding-searchbar {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

/*partie gauche barre de recherche*/
.left-part {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    width: 14px;
    height: 16px;
}

.middle-part {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px;
    border: none;
    outline-color: #F2F2F2;
    outline: #F2F2F2 1px solid;
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.rigth-part {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.rigth-part-smalldevice {
    display: none;
}

/***************Filtres*****************/
.align-filtres-and-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 45px;
    gap: 20px;
}

.align-filtres {
    display: flex;
    flex-wrap: wrap;
    gap: inherit;
}

.presentation-filtres {
    display: flex;
    flex-direction: row;
    border: 2px solid #D9D9D9;
    gap: 10px;
    padding: 15px 19px 15px 19px;
    border-radius: 25px;
    align-items:center;
    cursor: pointer;
    background-color: transparent;
}

.polices-prem-filtre {
    font-weight: 700;
    font-size: 18px;
}

.police-filtres {
    font-weight: 700;
    font-size: 17px;
}

.align-filtres button:hover {
    background-color: #DEEBFF;
}

/******************ligne information********************/

.taille-icone-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    padding: 5px;
}

.info {
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
    color: black;
    align-items: center;
}

/*presentation carte: contour-fond-etc*/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/*taille image carte*/
.card img {
    object-fit: cover;
}

/*taille titre image*/
.card-title {
    font-size: 16px;
}

/*mise en gras du symboe euro*/
.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

/*affiche horizontalement 
encadré "hebergements" et "les plus Populaires"*/
.hebergements-and-populaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*couleur de fond et forme
encadré "hebergements" et "les plus Populaires"*/
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements **********************/

/*largeur encadré "hebergements"*/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/

/*largeur encadré "les plus Populaires"*/
.populaires {
    width: 32%;
}

/*affiche horizontal. en tete encadré "les 
plus Populaires titre + diagramme*/
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*affiche horizontal. de la photo et du desciptif*/
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

/*taille et bordure de la photo */
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*def. largeur et affiche verticalement descriptif 
de photo carte*/
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/*margin titre carte*/
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

/*margin sous titre carte*/
.populaires-cards .card-subtitle {
    margin-left: 10px;

}

/*spécifie margin Etoiles*/
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************partie hebergement********/
.flex-hebergements-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
/*
.flex-hebergements-card a {
padding: 0px;
}*/

.flex-hebergements-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 30%;
    height: 210px;
}

.flex-hebergements-card img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.flex-hebergements-card .card-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
}

.flex-hebergements-card .card-title {
    margin-top: 5px;
    margin-bottom: 2px;
}

.flex-hebergements-card .card-subtitle {
    margin-bottom: 5px;
}

/*****************activites-Marseille**********/

.activites-Marseille {
    width: 100%;
    padding: 30px 30px 65px 30px;
    box-sizing: border-box;
}

.activites-Marseille h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.activites-Marseille-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activites-Marseille-card .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    padding: 0px;
}

.activites-Marseille-card img {
    width: 300px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-Marseille .card-content {
    width: 297.5px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-left: 10px;
}

/**************section Pied de Page***************/

.pied-de-page {
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}

.contenu-pied-de-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.paragraphe-pied-de-page {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    box-sizing: border-box;
    width: 30%;
}

.pied-de-page h4 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.pied-de-page div {
    margin-top: 15px;
    padding-left: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .main-container {
        padding: 0 50px;
        box-sizing: border-box;
    }

    .rigth-part-smalldevice {
        display: none;
    }

    .align-filtres-and-title {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .polices-prem-filtre {
        margin-bottom: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/*****Activité*****/
.activites-Marseille-card img {
    width: 100%;
    height: 200px;
}

.activites-Marseille .card-content {
    width: 100%;
    padding-left: 15px;
    flex-wrap: wrap;
}

.activites-Marseille-card .card {
    width: 23%;
}

/****************pied de Page******/

.pied-de-page {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}

.paragraphe-pied-de-page {
    width: 30%;
}


}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */

    body {
    margin: 0px;
    }

    .main-container {
        padding: 0px;
        box-sizing: border-box;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
    }
    
    nav img {
        width: 61.09px;
        height: 19px;
        margin-bottom: 30px;
    }

    .position-liens {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav a {
        width: 50%;
        margin: 0px;
        padding-bottom: 15px;
        text-align: center;
    }

    header nav a:hover {
        border-bottom: 2px solid  #0065FC;
        color: #0065FC;
        border-width: 50%;
        border-top: none;

    }

    .section-title {
        margin: 0px 20px 8px 20px;
        font-size: 22px;
    }

    .centrage-mode-mini {
        margin-left: 20px;
    }

    .padding-searchbar {
        justify-content: center;
    }

    .rigth-part {
        display: none;
    }

    .rigth-part-smalldevice {
        display: inline;
        position : relative;
        right: 10px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 15px 15px 15px 15px;
        border: none;
        background-color: #0065FC;
        color: white;
    }

    .align-filtres {
        margin-left: 20px;
    }

    .police-filtres {
        font-size: 14px;
    }
    
    .polices-prem-filtre {
        margin-left: 20px;
        margin-bottom: 0px;
    }

    .info {
        padding-left: 10px;
    }

    .hebergements-and-populaires {
        flex-direction:column-reverse;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards{
        flex-wrap: wrap;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
      }

    .hebergements-and-populaires .hebergements {
        background-color: white;
      }

    .flex-hebergements-card .card {
        width: 100%;
    }

    .hebergements .section-title {
        margin: 0px;
    }

    .activites-Marseille .section-title {
        margin: 0px;
    }

    .activites-Marseille-card .card {
        width: 100%;
    }

    .paragraphe-pied-de-page {
        width: 100%;
    }

    .pied-de-page nav a {
        width: 80%;
        margin: 0px 0px 0px 20px;
        padding-bottom: 10px;
        text-align:left;
      }