/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/*couleur bleu Icone + bouton "rechercher"*/
.fa-solid {
    color: var(--main-color);
}

/*centrage horizontal de l'ensemble*/
body {
    display: flex;
    justify-content: center;
}

/**parmetres affichage de toute la page**/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/*affichage header*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img {
    width: 61.09px;
    height: 19px;
    margin-left: -10px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.position-liens {
    display: flex;
    align-items: start;
}

h4 {
    font-weight: 700;
    font-size: 18px;
}

nav a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 42.61px;
    margin-top: -7px;
    color: black;
    padding-top: 16px;
}

nav a:hover {
    border-top: 2px solid  #0065FC;
    color: #0065FC;
}

/*affichage titre de l'intro*/
.intro {
    margin-top: 60px;
    margin-bottom: 8px;
}

/*margin et taille polices intitué entéte  "Les plus populaires" */
.section-title {
    margin: 0;
    font-size: 22px;
}

.padding-searchbar {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

/*partie gauche barre de recherche*/
.left-part {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 18px;
    padding-right: 18px;
    width: 14px;
    height: 16px;
}

.middle-part {
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    border: none;
    outline-color: #F2F2F2;
    outline: #F2F2F2 1px solid;
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.rigth-part {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

/***************Filtres*****************/
.align-filtres {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.space-between-filtres {
    margin-right: 25px;
}

.presentation-filtres {
    display: flex;
    flex-direction: row;
    border: 2px solid #D9D9D9;
    gap: 10px;
    padding: 15px 19px 15px 19px;
    border-radius: 25px;
}

.polices-prem-filtre {
    font-weight: 700;
    font-size: 18px;
}

.police-filtres {
    font-weight: 700;
    font-size: 17px;
}

/******************ligne information********************/

.taille-icone-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    padding: 5px;
}

.info {
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
    color: black;
    align-items: center;
}

/*presentation carte: contour-fond-etc*/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/*taille image carte*/
.card img {
    object-fit: cover;
}

/*taille titre image*/
.card-title {
    font-size: 16px;
}

/*mise en gras du symboe euro*/
.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

/*affiche horizontalement 
encadré "hebergements" et "les plus Populaires"*/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

/*couleur de fond et forme
encadré "hebergements" et "les plus Populaires"*/
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements **********************/

/*largeur encadré "hebergements"*/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/

/*largeur encadré "les plus Populaires"*/
.populaires {
    width: 32%;
}

/*affiche horizontal. en tete encadré "les 
plus Populaires titre + diagramme*/
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*affiche horizontal. de la photo et du desciptif*/
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

/*taille et bordure de la photo */
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*def. largeur et affiche verticalement descriptif 
de photo carte*/
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/*margin titre carte*/
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

/*margin sous titre carte*/
.populaires-cards .card-subtitle {
    margin: 0;
}

/*spécifie margin Etoiles*/
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************partie hebergement********/
.grid-hebergements-card {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 240px 240px;
    gap: 30px;
    margin-top: 20px;
}

.grid-hebergements-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.grid-hebergements-card img {
    width: 98%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.grid-hebergements-card .card-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
}

.grid-hebergements-card .card-rating {
    margin-bottom: 0px;
}

.grid-hebergements-card .card-title {
    margin-top: 10px;
}

.grid-hebergements-card .card-subtitle {
    margin-bottom: 15px;
}

/*****************activites-Marseille**********/

.activites-Marseille {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.activites-Marseille h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.activites-Marseille-card {
    display: flex;
    justify-content: space-between;
}

.activites-Marseille-card .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.activites-Marseille-card img {
    width: 297.5px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-Marseille .card-content {
    width: 297.5px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-left: 10px;
}

/**************section Pied de Page***************/

.pied-de-page {
    width: 1340px;
    height: 163px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}

.contenu-pied-de-page {
    display: flex;
    justify-content: space-between;
}

.paragraphe-pied-de-page {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    box-sizing: border-box;
    width: 375px;
}

.pied-de-page h4 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.pied-de-page div {
    margin-top: 15px;
    padding-left: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}